parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$class of method Nette\\PhpGenerator\\Printer\:\:printClass\(\) expects Nette\\PhpGenerator\\ClassType\|Nette\\PhpGenerator\\EnumType\|Nette\\PhpGenerator\\InterfaceType\|Nette\\PhpGenerator\\TraitType, \$this\(Nette\\PhpGenerator\\ClassLike\) given\.$#'
			identifier: argument.type
			count: 1
			path: src/PhpGenerator/ClassLike.php

		-
			message: '#^Call to an undefined method Nette\\PhpGenerator\\ClassLike\:\:addConstant\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/PhpGenerator/Extractor.php

		-
			message: '#^Call to an undefined method Nette\\PhpGenerator\\ClassLike\:\:addMethod\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/PhpGenerator/Extractor.php

		-
			message: '#^Call to an undefined method Nette\\PhpGenerator\\ClassLike\:\:addProperty\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/PhpGenerator/Extractor.php

		-
			message: '#^Call to an undefined method Nette\\PhpGenerator\\ClassLike\:\:addTrait\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/PhpGenerator/Extractor.php

		-
			message: '#^Parameter \#1 \$class of method Nette\\PhpGenerator\\Extractor\:\:addEnumCaseToClass\(\) expects Nette\\PhpGenerator\\EnumType, Nette\\PhpGenerator\\ClassLike given\.$#'
			identifier: argument.type
			count: 1
			path: src/PhpGenerator/Extractor.php

		-
			message: '#^Variable \$trait might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/PhpGenerator/Extractor.php

		-
			message: '#^Parameter &\$from by\-ref type of method Nette\\PhpGenerator\\Factory\:\:createClassObject\(\) expects ReflectionClass\<object\>, ReflectionEnum\<UnitEnum\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: src/PhpGenerator/Factory.php

		-
			message: '#^Variable \$bodies on left side of \?\?\= always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/PhpGenerator/Factory.php

		-
			message: '#^Variable \$cache on left side of \?\?\= always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/PhpGenerator/Factory.php

		-
			message: '#^Method Nette\\PhpGenerator\\Printer\:\:printDocComment\(\) has parameter \$commentable with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/PhpGenerator/Printer.php
